body {
    text-align: center;
}

body {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}

.players, .score {
	display: flex;
	align-items: center;
	justify-content: center;
}

.score {
	margin: 20px;
}

.player-score, .enemy-score {
	margin: 0px 90px;
	font-size: 20px;
}

.vs {
	font-size: 30px;
}

img {
	margin: 0px 30px;
}

.footer {
	text-align: left;
	margin-left: 20px;
	font-size: 10px;
}

.counter {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.start-button, .replay-button {
	margin-left: 15px;
	margin-bottom: 30px;
	justify-content: center;
}

.button-image {
	width: 150px;
	height: 150px;
}

.button-image:hover {background-color: white}

.button-image:active {
  background-color: white;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

.level-choice-item {
	justify-content: left;
}

